/.env
/venv
/requirements.txt

# /core/db.sqlite3
# /core/apps/clients
# /core/apps/products_image

# /core/__pycache__

# /core/apps/customers/__pycache__
# /core/apps/customers/migrations

# /core/apps/orders/__pycache__
# /core/apps/orders/migrations

# /core/apps/products/__pycache__
# /core/apps/products/migrations
